body {
    background-color: #FEFF86;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: #B9E9FC;
    width: 10%;
}

h1 {
    color: #B0DAFF;
}

h3 {
    color: #B0DAFF;
}